# Ambientes virtuais do Python
.venv/
venv/
env/
ENV/

# Cache e arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Arquivos temporários do Jupyter Notebook
.ipynb_checkpoints/

# Dados pesados e arquivos de observação (Astrofísica)
data/
*.lc
*.fits
*.pha
*.k
*.dat

# Configurações de editores de código (VS Code, PyCharm, etc.)
.vscode/
.idea/

# Arquivos gerados pelo Sistema Operacional
.DS_Store
Thumbs.db
.venv/
